<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PropertyGenerator.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <PropertyGenerator.My.MySettings>
            <setting name="VariableName" serializeAs="String">
                <value>Write Variable Name..</value>
            </setting>
            <setting name="VariableType" serializeAs="String">
                <value>Write Variable Type...</value>
            </setting>
            <setting name="SubArrival" serializeAs="String">
                <value>Write Sub Arrival...</value>
            </setting>
            <setting name="SubType" serializeAs="String">
                <value>Write Sub Type...</value>
            </setting>
            <setting name="FunctionType" serializeAs="String">
                <value>Write Function Type...</value>
            </setting>
            <setting name="InheritanceName" serializeAs="String">
                <value>Write Inheritance...</value>
            </setting>
            <setting name="ImportName" serializeAs="String">
                <value>Write Import...</value>
            </setting>
            <setting name="ClassName" serializeAs="String">
                <value>Write Class Name...</value>
            </setting>
            <setting name="clmVariableName" serializeAs="String">
                <value>Variable Name</value>
            </setting>
            <setting name="clmVariableNameWidth" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="clmVariableType" serializeAs="String">
                <value>Variable Type</value>
            </setting>
            <setting name="clmVariableTypeWidth" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="SubName" serializeAs="String">
                <value>Write Sub Name...</value>
            </setting>
            <setting name="clmSubArrival" serializeAs="String">
                <value>Sub Arrival</value>
            </setting>
            <setting name="clmSubArrivalWidth" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="clmSubType" serializeAs="String">
                <value>Sub Type</value>
            </setting>
            <setting name="clmSubTypeWidth" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="clmSubName" serializeAs="String">
                <value>Sub Name</value>
            </setting>
            <setting name="clmSubNameWidth" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="clmSubParameterList" serializeAs="String">
                <value>Parameters Of Sub</value>
            </setting>
            <setting name="clmSubParameterListWidth" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="clmInheritanceName" serializeAs="String">
                <value>Inheritance</value>
            </setting>
            <setting name="clmInheritanceNameWidth" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="clmImportanceName" serializeAs="String">
                <value>Importance</value>
            </setting>
            <setting name="clmImportanceNameWidth" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="clmReturnType" serializeAs="String">
                <value>Return Type</value>
            </setting>
            <setting name="clmReturnTypeWidth" serializeAs="String">
                <value>60</value>
            </setting>
        </PropertyGenerator.My.MySettings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
